.download {
  padding: 10px;
  background: #121212;
  border: 2px solid #D0D0D0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  &_logo {
    width: 30%;
    height: 100%;

    img {
      height: 70%;
      width: 70%;
    }
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;

  }
}

.content {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #000;

  &__leftSection {
    width: 45%;

    background: #f30000;

    &_title {
      /* Start your journey by one click explore beautiful world */

      width: 703px;
      height: 210px;

      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 124.5%;
      /* or 70px */
      display: flex;
      align-items: center;

      color: #333333;


      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;

    }

    &_subtitle {

    }
  }

  &__rightSection {
    width: 45%;
    background: #0011da;

  }
}